# mongod.conf

systemLog:
  verbosity: {{ mongodb_systemlog_verbosity }}
  quiet: {{ mongodb_systemlog_quiet }}
  traceAllExceptions: {{ mongodb_systemlog_traceallexceptions }}
  syslogFacility: '{{ mongodb_systemlog_syslogfacility }}'
  destination: '{{ mongodb_systemlog_destination }}'
{% if mongodb_systemlog_destination == 'file' %}
  path: '{{ mongodb_systemlog_path }}'
  logAppend: {{ mongodb_systemlog_logappend }}
{% endif %}
  timeStampFormat: '{{ mongodb_systemlog_timestampformat }}'

processManagement:
  fork: {{ mongodb_processmanagement_fork }}
{% if mongodb_processmanagement_fork %}
  pidFilePath: '{{ mongodb_processmanagement_pidfilepath }}'
{% endif %}

net:
  port: {{ mongodb_net_port }}
{% if mongodb_net_bindip %}
  bindIp: '{{ mongodb_net_bindip }}'
{% endif %}
  maxIncomingConnections: {{ mongodb_net_maxincomingconnections }}
  wireObjectCheck: {{ mongodb_net_wireobjectcheck }}
  ipv6: {{ mongodb_net_ipv6 }}
  unixDomainSocket:
    enabled: {{ mongodb_net_unixdomainsocket_enabled }}
    pathPrefix: '{{ mongodb_net_unixdomainsocket_pathprefix }}'
  http:
    enabled: {{ mongodb_net_http_enabled }}
    JSONPEnabled: {{ mongodb_net_http_jsonpenabled }}
    RESTInterfaceEnabled: {{ mongodb_net_http_restinterfaceenabled }}

security:
  authorization: '{{ mongodb_security_authorization }}'
{% if mongodb_security_authorization!= 'disabled' %}
  keyFile: '{{ mongodb_security_keyfile }}'
  clusterAuthMode: '{{ mongodb_security_clusterauthmode }}'
{% endif %}
  javascriptEnabled:  {{ mongodb_security_javascriptenabled }}

operationProfiling:
   slowOpThresholdMs: {{ mongodb_operationprofiling_slowopthresholdms }}
   mode: '{{ mongodb_operationprofiling_mode }}'

storage:
  dbPath: '{{ mongodb_storage_dbpath }}'
  directoryPerDB: {{ mongodb_storage_directoryperdb }}
  indexBuildRetry: {{ mongodb_storage_indexbuildretry }}
  preallocDataFiles: {{ mongodb_storage_preallocdatafiles }}
  nsSize: {{ mongodb_storage_nssize }}
  smallFiles: {{ mongodb_storage_smallfiles }}
  syncPeriodSecs: {{ mongodb_storage_syncperiodsecs }}
{% if mongodb_storage_journal_debugflags %}
  repairPath: '{{ mongodb_storage_repairpath }}'
{% endif %}
  journal:
    enabled: {{ mongodb_storage_journal_enabled }}
{% if mongodb_storage_journal_debugflags %}
    debugFlags: {{ mongodb_storage_journal_debugflags }}
{% endif %}
{% if mongodb_storage_journal_commitintervalms %}
    commitIntervalMs: {{ mongodb_storage_journal_commitintervalms }}
{% endif %}
  quota:
    maxFilesPerDB: {{ mongodb_storage_quota_maxFilesperdb }}

replication:
{% if mongodb_replication_oplogsizemb %}
  oplogSizeMB: {{ mongodb_replication_oplogsizemb }}
{% endif %}
{% if mongodb_replication_replsetname %}
  replSetName: '{{ mongodb_replication_replsetname }}'
{% endif %}
  secondaryIndexPrefetch: '{{ mongodb_replication_secondaryindexprefetch }}'

sharding:
{% if mongodb_sharding_clusterrole %}
  clusterRole: '{{ mongodb_sharding_clusterrole }}'
{% endif %}
  archiveMovedChunks: {{ mongodb_sharding_archivemovedchunks }}

