127.0.0.1 localhost {{ initial_setup_localhosts|join(' ') }}
{{ ansible_default_ipv4.address }} {{ initial_setup_hostname }}.{{ initial_setup_localdomain }} {{ initial_setup_hostname }}
{% if initial_setup_host_entries|length > 0 %}
{% for k, v in initial_setup_host_entries.iteritems() %}
{{ k }}{% for name in v %} {{ name }}{% endfor %}

{% endfor %}
{% endif %}